<%= render partial: 'shared/checkout_header' %>
<div class="repository-info">
  <% if repository.checkout_description.present? %>
  <div class="wiki<%= ' bottomline' if protocols.present? %>"><%= format_text repository.checkout_description %></div>
  <% end %>
  <% if protocols.present? %>
    <div id="checkout_box">
      <form class="form" id="protocols">
        <% protocols.each do |p| %>
          <div class="form--field -full-width">
            <div class="form--field-container">
              <div class="form--field-affix">
                <span id="checkout_protocol_<%= p.protocol.to_s.underscore %>" data-permission="<%= p.access_rw(User.current) %>" href="<%= URI.escape p.url(checkout_path) %>"><%=h p.protocol %></span>
              </div>
              <%= styled_text_field_tag :checkout_url, h(p.full_command(checkout_path)), readonly: true %>
            </div>
            <div class="form--field-instructions">
              <%=l(:label_access_type, :type => "<span id=\"checkout_access\">#{l(p.access_label(User.current))}</span>").html_safe %></p>
            </div>
          </div>
        <% end %>
      </form>
    </div>
  <% end%>
</div>
