<%= render partial: 'shared/checkout_header' %>
<%= styled_form_tag :action => 'edit', :tab => 'checkout' do %>
  <div class="form--section settings">
    <div class="form--field">
      <%= setting_select :checkout_display_checkout_info, [
        [l(:label_display_everywhere), 'everywhere'],
        [l(:label_display_browse), 'browse'],
        [l(:label_display_none), 'none']
      ]
      %>
    </div>
    <div class="form--field">
      <%= setting_text_area :checkout_description_Abstract, :cols => 60, :rows => 5, :class => 'wiki-edit', :label => :setting_checkout_description %>
    </div>
    <%= wikitoolbar_for 'settings_checkout_description_Abstract' %>

    <div id="protocol_table">
      <% OpenProject::Checkout::CheckoutHelper.supported_scm.select{|scm| Setting.enabled_scm.include?(scm)}.each do |scm| -%>
      <% collapsed = Setting.send("checkout_overwrite_description_#{scm}?") != true %>
      <fieldset id="checkout_protocol_<%= scm %>"
                class="form--fieldset -collapsible <%= collapsed ? 'collapsed' : '' %>">
        <legend class="form--fieldset-legend" title="<%= scm %>" onclick="toggleFieldset(this);">
          <a href="javascript:"><%= scm %></a>
        </legend>
        <div style=" <%= collapsed ? 'display: none' : '' %>"><%= render :partial => 'checkout_scm', :locals => {:scm => scm} %></div>
      </fieldset>
      <%- end %>
    </div>
  </div>

  <%= styled_button_tag l(:button_save), class: '-with-icon icon-yes' %>
<%- end %>
