<%= render partial: 'shared/checkout_header' %>
<%= styled_form_tag :action => 'edit', :tab => 'checkout' do %>
  <%= javascript_tag do %>
  var protocolForms = $H();
  document.observe("dom:loaded", function() {
    $('tab-content-checkout').select('fieldset.collapsed').each(function(e){
      e.down('div').hide();
    });
    <%
      OpenProject::Checkout::CheckoutHelper.supported_scm.select{|scm| Setting.enabled_scm.include?(scm)}.each do |scm|
        next if Setting.send("checkout_overwrite_description_#{scm}?")
    -%>
    $('settings_checkout_description_<%= scm %>').up('div').up('div').hide();
    <%- end %>
  });
  <% end %>

  <div class="form--section settings">
    <div class="form--field">
      <%= setting_select :checkout_display_checkout_info, [
        [l(:label_display_everywhere), 'everywhere'],
        [l(:label_display_browse), 'browse'],
        [l(:label_display_none), 'none']
      ]
      %>
    </div>
    <div class="form--field">
      <%= setting_text_area :checkout_description_Abstract, :cols => 60, :rows => 5, :class => 'wiki-edit', :label => :setting_checkout_description %>
    </div>
    <%= wikitoolbar_for 'settings_checkout_description_Abstract' %>

    <div id="protocol_table">
      <% OpenProject::Checkout::CheckoutHelper.supported_scm.select{|scm| Setting.enabled_scm.include?(scm)}.each do |scm| -%>
      <fieldset class="form--fieldset -collapsible collapsed">
        <legend class="form--fieldset-legend" title="<%= Repository.const_get(scm).scm_name %>" onclick="toggleFieldset(this);">
          <a href="javascript:"><%= Repository.const_get(scm).scm_name %></a>
        </legend>
        <div><%= render :partial => 'checkout_scm', :locals => {:scm => scm} %></div>
      </fieldset>
      <%- end %>
    </div>
  </div>

  <%= styled_submit_tag l(:button_save), class: 'button -highlight' %>
<%- end %>
